:root {
    opacity: 1;
    font-size: 16px;
}

.ui_hud_hints {
    -unity-font-definition: url("project://database/Assets/Fonts/Essays1743.ttf?fileID=12800000&guid=c6718651f693a4b3581d0ec264576db5&type=3#Essays1743");
    opacity: 0.07;
    font-size: 29px;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgba(185, 153, 153, 0.38);
}

.ui_HUD_collected {
    background-color: rgba(0, 0, 0, 0.27);
    background-size: 100% 100%;
    border-bottom-width: 2px;
    border-right-width: 2px;
}
